<div class="row my-3">
  <div class="col-lg-2 col-md-2">
    <img class="img-responsive" alt="" src="http://placehold.it/80x80"/>
  </div>

  <div class="col-lg-10 col-md-10">
    <h1>This is really weired plant</h1>
  </div>
</div>

<div class="row my-3">
  <div class="col-lg-5 col-md-5">
    <img class="img-responsive" alt="" src="http://placehold.it/340x320"/>
  </div>

  <div class="col-lg-7 col-md-7">
    <p>Sed euismod nisi porta lorem mollis! Ut enim blandit volutpat maecenas? In ante metus, dictum at tempor commodo, ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales ut eu?</p>
  </div>
</div>
  

