
.carousel-item  {
    max-height: 400px !important;
    overflow: hidden;
}

.carousel-item img {
    position: relative;
    top: -150px !important;
}

.card-img-top {
    max-height: 200px !important;
}
